body, .form-control, .btn, .input-group-addon {
	font-size: 12px;
}
body {
	padding-top: 70px;
}
h3 {
	color: #337ab7;
}
.container {
		width: 98%;
	}
td, th {
	padding: 4px !important;
}

table.dataTable{
	border-collapse:separate;
}

table.schichten tr td, thead tr th {
	text-align: center;
	vertical-align: middle;
}

table.schichten thead tr th {
	color: white;
	background-color: #337ab7;
}
.tfoot td {
	color: white;
	background-color: #337ab7;
	font-weight: bold;
}

table.schichtprotokoll {
	border-spacing: 0px !important;
	border-collapse: collapse !important;
	border:1px solid black !important;
	width: 20%;
	margin-right: 0;
	margin-left: auto;
}


table.table_header {
	clear: both;
	width: 100%;
}
table.table_header tr td {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
}

table.table_header h1, table.table_header .h1{
	margin: 0px !important; 
}

.caption {
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 3px;
	background-color: #22313F;
}

.round_corners{
	border-radius: 4px;
    background: #C5EFF7;
}

input { 
    text-align: right; 
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0px 0;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 50%;
}

.input-group-addon {
    min-width:90px;
    text-align:left;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.navbar {
	min-height: 20px;
}
.navbar-nav li a {
	padding-bottom: 10px;
	padding-top: 10px;
}
.dropdown-menu {
	padding-top: 6px;
	padding-bottom: 6px;
}
.dropdown-menu > li > a {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 25px;
}
.navbar-brand {
	height: 40px;
	padding-top: 6px;
	padding-bottom: 1px;
}
.navbar-login {
	padding-right: 10px;
	padding-left: 10px;
}
.navbar-dropshadow {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 10px 5px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 10px 5px rgba(50, 50, 50, 1);
}
#tabulator .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
#tabulator .tab-content {
  color : white;
  background-color: #337ab7;
  padding : 5px 15px;
}
#newErrorModal .modal-dialog {
	width: 90%;
	height: 90%;
}
.state-icon {
    left: -5px;
}
.glyphicon.glyphicon-print {
	font-size: 22px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}
.well .list-group {
    margin-bottom: 0px;
}

.mainwell{
	background-color: #337AB7 !important;
}

.kursor:hover {
	background-color: #E4F1FE;
}
.kursor {
	cursor: pointer;
}
.left-padding-0 {
	padding-left: 15px;
}

.logo {
	width: 28px;
	padding-top: 0px;
}
.potpis {
	text-align: center;
	font-size: 10px;
	color: #7f8c8d;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

@media all and (max-width:1300px) {
	body, .form-control, .btn, .input-group-addon {
		font-size: 10px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 12px;
	}
	h5 {
		font-size: 10px;
	}

}

@media print {

	html,body{
		height:100%;
		width: 100%;
		margin:0;
		padding:0;
	}

	@page {
		size: landscape;
		max-height:100%;
		max-width:100%
	}
	
	.table {
		font-size: 10px !important;
	}

	.table_header tr td {
		border-collapse:collapse !important;
		border: 1px solid black !important;
	}

	h1 {
		font-size: 16px !important;
	}

	
	.container {
		width: 100%;
	}
	.printable {
		display: table !important;
		
	}
	.nonprintable {
		display: none !important;
	}

	.table-bordered  tbody  tr  td,
	.table-bordered  tbody  tr  th,
	.table-bordered  tfoot  tr  td,
	.table-bordered  tfoot  tr  th,
	.table-bordered  thead  tr  td,
	.table-bordered  thead  tr  th {
		border: 1px solid black !important;
	}

	.dataTableDiv {
        overflow: visible !important;
    }

	table.dataTable{
		border-collapse:collapse !important;
	}

	table.dataTable thead .sorting,
	table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc,
	table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled {
		position: unset !important;
	}
 
	th.sorting::after,
	th.sorting_asc::after,
	th.sorting_desc::after {
		content:"" !important;
	}
}